html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    height: 100%;
}

div.avatar-wrap {
    margin: 18px;
    text-align: center;
}

#mainTable {
	height: 100%;
	width: 100%;
}

#mainContent {
	height: 100%;
}

#backgroundSpace {
	width: 0;
}

div#divHead {
	clear: both;
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: block;
}

div#divHead img {
	margin: 0px;
	padding: 0px;
	display: block;
}

.sidebar {
	background: #f3f3f3 url("../images/header.png") repeat-y left top;
    padding-bottom: 0px;
    text-align: center;
    float: left;
    display: block;
    clear: none;
}

div#navigation {
    padding-bottom: 10px;
}

div#navigation a {
    padding: 2px 4px 2px 4px;
    width: 100%;
}

div#logos {
	padding-top: 10px;
	align: center;
	clear: left;
	float: left;
    display: block;
    height: 100%;
} 

div#content {
	padding: 5px;
	padding-left: 10px;
    clear: none;
    float: none;
    display: block;
}

div#lightbox {
    margin: 0px;
    background-color: #000;
    height: 100%;
}

#plcLogo {
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#plc {
	display: none;
}

.logoImg {
	display: block;
	width: 110px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}


@media all and (max-width:440px){
	
	.sidebar {
		background: #f3f3f3 url("../images/header.png") repeat-y left top;
		width: calc(100%-10px);
		clear: both;
		padding: 5px;
	}
	
	#mainContent {
	  display: flex;
	  flex-flow: column;
	}
	
	#navigation {
		order: 1;
	}
	#logos {
		order: 3;
	}
	div#content{ 
		order: 2;
		padding: 5px;
		width: calc(100% - 10px);
		margin: 0px;
		clear: both;
	}
	
	#plc {
		display: block;
	}
	#plcLogo {
		display: none;
	}

}

@media all and (min-width:440px) {
	html {
        background: #fff url("../images/sidebar.png") repeat-y left top;
        background-size: 155px;
    }
    
    .sidebar {
		background: none;
		padding: 5px 5px 5px 13px;
		width: 135px;
	}
	
	div#content { 
		margin: 0px;
		margin-left: calc(135px + 20px);
    }
}


@media all and (min-width: 880px) {
    html {
        background: #fff url("../images/sidebar.png") repeat-y left top;
        background-size: 180px;
    }

    div.avatar-wrap {
        margin: 18px;
        float: right;
    }
    
    #backgroundSpace {
		width: 100%;
	}

	div#divHead {
		width: 880px;
	}
	
	.sidebar {
		width: 150px; 
		background: none;
	}
	
    div#navigation {
        background: none;
        float: left;
        left: 0px;
    }
    
    div#navigation h1#plc {
		display: none;
	}

    div#navigation h1, div#navigation a {
        display: block;
        text-align: right;
    }

    div#navigation a {
        color: #333;
        margin: 0px 0px 0px 0px;
        border-bottom: 1px solid #214161;
    }

    div#content {
        margin-left: calc(180px + 5px);
        width: 648px;
    }

    div#lightbox {
        margin: 0px 0px 0px 155px;
    }
}
