html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    height: 100%;
}

div.avatar-wrap {
    margin: 18px;
    text-align: center;
}

#mainTable {
	height: 100%;
	width: 100%;
}

#backgroundSpace {
	width: 0;
}

div#divHead {
	clear: both;
	margin: 0px;
	padding: 0px;
	width: 100%;
	display: block;
}

div#divHead img {
	margin: 0px;
	padding: 0px;
	display: block;
}

.sidebar {
	background: #f3f3f3 url("../images/header.png") repeat-x left bottom;
    padding-bottom: 5px;
    text-align: center;
    float: left;
    display: block;
    clear: both;
}

div#navigation {
    background: #f3f3f3 url("../images/header.png") repeat-x left bottom;
    padding-bottom: 18px;
    text-align: center;
    float: left;
    display: block;
}

div#navigation a {
    padding: 2px 4px 2px 4px;
    width: 100%;
}

div#content {
    margin: 12px;
}

div#lightbox {
    margin: 0px;
    background-color: #000;
    height: 100%;
}

div#logos {
	padding-top: 10px;
	align: center;
	float: left;
    display: block;
} 

#plcLogo {
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.logoImg {
	display: block;
	width: 110px;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}


@media all and (max-width:400px){
	#mainContent{
	  display:flex;
	  flex-flow: column;
	}
	#navigation{order:1;}
	#logos{order:3;}
	#content{order:2;}
}

@media all and (min-width: 822px) {
    html {
        background: #fff url("../images/sidebar.png") repeat-y left top;
        background-size: 180px;
    }

    div.avatar-wrap {
        margin: 18px;
        float: right;
    }
    
    #backgroundSpace {
		width: 100%;
	}

	div#divHead {
		top: 0;
		width: 880px;
	}

	.sidebar {
		background: none;
		margin: 5px 5px 5px 13px;
        width: 150px;
	}
	
    div#navigation {
        background: none;
        float: left;
        left: 0px;
        margin: 5px 5px 5px 13px;
        width: 150px;
    }
    
    

    div#navigation h1, div#navigation a {
        display: block;
        text-align: right;
    }

    div#navigation a {
        color: #333;
        margin: 0px 0px 0px 0px;
        border-bottom: 1px solid #214161;
    }

    div#content {
        margin: 0px 0px 0px 156px;
        padding: 0px 36px 0px 36px;
        width: 648px;
    }

    div#lightbox {
        margin: 0px 0px 0px 155px;
    }
}
