html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px 0px 0px 0px;
    height: 100%;
}

div.avatar-wrap {
    margin: 18px;
    text-align: center;
}

#container {
    align: center;
    margin: 0 auto;
}

#backgroundSpace {
    width: 0;
}

div#divHead {
    clear: both;
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: block;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 4px 0px 6px #999;
}

div#divHead img#panorama {
    margin: 0px;
    padding: 0px;
    display: block;
}

div#leftSidebar {
    padding: 10px;
    box-shadow: 2px 0px 3px #BBB;
}

.sidebar {
    padding-bottom: 0px;
    text-align: center;
}

#plc {
    display: none;
}

#plcLogo {
    display: block;
    margin-bottom: 7px;
}

div#navigation {
    margin-right: 5px;
}

div#navigation a {
    padding: 6px 4px 6px 4px;
    width: 100%;
}

div#content {
    padding: 5px 15px 5px 15px;
    vertical-align: top;
}

div.flexyBlock {
    border: solid 1px #AAA;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 6px #999;
    background-color: white;
    background-size: 100%;
}

div.flexyBlock p {
    margin: 5px;
}

#datesTable td {
	padding: 2px 5px 2px 5px;
}

#datesTable td:nth-child(even) {
    white-space: nowrap;
}

div#rightSidebar {
    padding-top: 10px;
}

div#logos {
	text-align: center;
}
div#logos .logoImg {
	display: inline;
	margin: 7px;
	height: 110px;
}

div#logos #mmcsLogo {
	width: 125px;
}
div#logos #sfeduLogo {
	width: 100px;
}

div#logos a {
	display: inline;
}

div#partnersBlock{
	text-align: center;
	line-height: 18px;
}
div#partnersBlock .logoImg {
	display: block;
	margin: 1px auto 1px auto;
}

div#lightbox {
    margin: 0px;
    background-color: #000;
    height: 100%;
}

@media all and (max-width:439px) {

    div#divHead {
        box-shadow: none;
        border-radius: 0px;
    }

    #inlineLogoPlaceholder {
        display:none;
    }

    #plcLogoInline {
        display: inline;
        height: 20px;
    }

    #mainContent {
      display: flex;
      flex-flow: column;
    }

    .flexyBlock {
        border: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .flexyBlockTitle {
        border-radius: 0;
    }

    div#leftSidebar {
        order: 1;
        display: block;
        width: 100%;
        margin: 0px;
        padding: 0px;
        box-shadow: none;
    }

    div#navigation {
        padding: 3px;
    }

    div#navigation a {
        padding: 2px 4px 2px 4px;
    }

    div#content{
        order: 2;
        padding: 5px;
        margin: 0px;
        clear: both;
        display: block;
    }

    div#rightSidebar {
        order: 3;
        display: block;
        width: 100%;
    }

    #plcLogo {
        display: none;
    }

    h1, h2, h3, h4 {
        text-align: center;
    }

    h1#confTitle {
        display: none;
    }
    
    .logoImg {
		display: block;
		margin: 7px auto 7px auto;
	}

}

@media all and (min-width:440px) and (max-width: 1219px) {

    div#divHead {
        width: 100%;
    }

    div#leftSidebar {
        display: table-cell;
        box-shadow: 0px 4px 6px #999;
    }

    div#navigation {
        margin: 0px;
    }

    div#navigation a {
        padding: 2px 4px 2px 4px;
        display: block;
    }

    .sidebar {
        width: 150px;
    }

    #plcLogo {
        padding: 2px 2px 0px 2px;
    }

    #plcLogoInline {
        display: none;
    }

    div#content {
        display: table-cell;
        width: 100%;
        box-shadow: 0px 4px 6px #999;
    }

    div#rightSidebar {
        display: column;
        width: 100%;
        margin-top: 10px;
        padding-top: 0px;
    }

	div .flexyBlock {
		float: left;
        width: 100%;
        text-align: center;
	}

    div#newsBlock {
        float: left;
        width: calc(55% - 15px);
        margin-right: 10px;
        text-align: left;
    }

    div#datesBlock {
        float: right;
        width: 45%;
        text-align: left;
    }

	div#sponsors .logoImg {
		height: 100%;
	}

	div#logos a {
        display: inline;
    }
    div#sponsors a {
        display: inline;
    }
}


@media all and (min-width: 1220px) {
    #container {
        width: 1200px;
    }

    #central {
        float: left;
    }

    div.avatar-wrap {
        margin: 18px;
        float: right;
    }

    div#divHead {
        width: 1196px;
    }

    div#leftSidebar {
        display: table-cell;
    }

    #mainContent {
        height: 100%;
    }

    #backgroundSpace1 {
        width: 50%;
    }

    #backgroundSpace2 {
        width: 50%;
    }

    .sidebar {
        width: 170px;
    }

    #plc {
        display: none;
    }

    #plcLogo {
        padding: 2px 4px 0px 4px;
        display: block;
    }
    #plcLogoInline {
        display: none;
    }

    div#navigation h1 {
        text-align: right;
    }

    div#navigation > a {
        display: block;
        text-align: right;
        margin: 0px 0px 0px 0px;
        border-bottom: 1px solid #214161;
    }

    div#content {
        display: table-cell;
        margin-left: 15px;
        width: 700px;
        vertical-align: top;
    }

    div#rightSidebar {
        display: table-cell;
        vertical-align: top;
    }

	div.flexyBlock {
		width: 270px;
	}

    div#newsBlock {
        line-height: 18px;
    }

    div#lightbox {
        margin: 0px 0px 0px 155px;
    }
    
}
