<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <title>PLC-2017 $title$</title>

        <!-- Stylesheets. -->
        <link rel="stylesheet" type="text/css" href="/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />

        <style>
        @import url(https://fonts.googleapis.com/css?family=Fira+Sans);

        #$id$ {
            background: grey;
            color: white!important;
            background-color: #326CAB;
        }
        </style>
    
        <!-- Metadata. -->
        <meta name="keywords" content="programming languages,conference,mmcs,sfedu,rostov"/>
    </head>
    <body>
		<div id="divHeadPic">
			<img src="../images/rostov-pnrm-night-sh.jpg"/>
		</div>
		
        <div id ="navigation">
            <h1 id="plc">PLC-2017</h1>
            <a id="index" href="index.html">Конференция</a>
            <a id="topics" href="topics.html">Тематика</a>
            <a id="organizers" href="organizers.html">Организаторы</a>
            <a id="contact" href="contact.html">Контакты</a>
        </div>

        $body$


    </body>
</html>
