<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <meta  property="og:type" content="website">
        <meta  property="og:url" content="http://plc.sfedu.ru/">
        <meta  property="og:title" content="«Языки программирования и компиляторы — 2017»">
        <meta  property="og:image" content="http://plc.sfedu.ru/images/sfedu-logo.png">
        <meta  property="og:description" content="Всероссийская научная конференция памяти А.Л. Фуксмана, 3–5 апреля 2017г., Ростов-на-Дону, Россия">
        <meta  property="og:site_name" content="PLC-2017">

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:url" content="http://plc.sfedu.ru/" />
        <meta name="twitter:title" content="«Языки программирования и компиляторы — 2017»" />
        <meta name="twitter:description" content="Всероссийская научная конференция памяти А.Л. Фуксмана, 3–5 апреля 2017г., Ростов-на-Дону, Россия" />
        <meta name="twitter:image" content="http://plc.sfedu.ru/images/sfedu-logo.png" />

        <title>PLC-2017 $title$</title>

        <!-- Stylesheets. -->
        <link rel="stylesheet" type="text/css" href="/css/base.css" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />

        <style>
        #$id$ {
            color: white!important;
            background-color: #09639F;
        }
        </style>
    
        <!-- Metadata. -->
        <meta name="keywords" content="programming languages,conference,mmcs,sfedu,rostov"/>
    </head>
    
    <body>
	<div id="container">
		
		<div id="central">
			<div id="divHead">
				<table width="100%">
					<tr>
						<h1 id="plcTitle">Языки программирования и компиляторы '2017</h1></td>
						<h3>Ростов-на-Дону, Россия</h3>
					</tr>
				</table>
				<img src="./images/rostov-pnrm-night-sh.jpg"/>
			</div>
			
			<div id="mainContent">
			
			    <div id="leftSidear">
				    <div id="navigation" class="sidebar" style="">
					    <h1 id="plc">PLC-2017</h1>
					    <a id="index" href="index.html">Конференция</a>
					    <a id="fuksman" href="fuksman.html">А.Л. Фуксман</a>
					    <a id="topics" href="topics.html">Тематика</a>
					    <a id="organizers" href="organizers.html">Организаторы</a>
					    <a id="contact" href="contact.html">Контакты</a>
				    </div>
				</div>

				$body$
				
				<div id="rightSidebar">
				    <div id="newsBlock" class="flexyBlock">
				        <div id="newsBlockTitleDiv" class="flexyBlockTitle">
				            <h2>Новости</h2>
				        </div>
				        <p>1 июля 2016: обновлена информация о программном комитете</p>
				    </div>
				    
				    <div id="logos" class="flexyBlock">
                        <div id="logosTitleDiv" class="flexyBlockTitle">
                            <h2>Организаторы</h2>
                        </div>
			            <img class="logoImg" src="images/sfedu-logo-ru.svg"/>
		            </div>
				</div>
				
			</div>
        </div>
        
        
		
	</div>
    </body>
</html>
